@tailwind base;
@tailwind utilities;
@tailwind components;

*{
    user-select: none;
}

textarea:focus, input:focus, select:focus, button:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.drag{-webkit-app-region: drag;}
.no-drag{-webkit-app-region: no-drag;}

@media (min-width: 1170px) {
    .lg1\:w-test {
        width: calc(100vw - 213px);
    }
}